name: Automatisation des testson: pushjobs:Compilation:runs-on: ubuntu-lateststeps:- uses: actions/checkout@v3- name: Compilationrun: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          make test
          - uses: actions/checkout@v3 
          "Ajout de l'action GitHub pour les tests"
